<div class="container">
	<div class="row">
	  <div class="col-sm-8 col-sm-offset-2">
      <h2 class="title-question"><%= @question.title %></h2>
	  </div>
	</div>
  <div class="questions">
    <div class="question clearfix">
	<div class="row">
	  <div class="col-sm-1 col-sm-offset-1">
      <div class="question-upvote upvote-active">
       <span class="upvote-arrow"></span>
       <span class="upvote-count"> <%= @question.votes.count %> </span>
      </div>
    </div>
	  <div class="col-sm-8">
      <span><%= markdown(@question.body) %></span>
	 </div>
  </div>
</div>   <!-- end question clearfix -->
</div><!-- end questions -->
  <div class="row">
   <div class="col-sm-8 col-sm-offset-2">
     <span class="comments"> <%= render partial: "comments/comments", locals: {commentable: @question} %> </span>
  	<div class="">Formulario</div>
	    <p>botón</p>
	  </div>
	</div>
</div>
