
      <%= form_for [*commentable, Comment.new], local: true do |f|  %>
        <div class="form-group">
          <%= f.text_area :body, autofocus: true, :rows => 2, style: 'width:100%;', placeholder: "Add a comment", class: "form-control" %><br/>
        </div>
        <%= f.submit "Commentate", class: "btn btn-primary pull-right"  %>

      <% end %>
